$color--cell-active:#7c7c7c;
$color--cell-inactive: #75E5A5;

.generations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.generation {
  display: flex;
}

.generation > span {
  display: inline-block;
  height: 12px;
  width: 12px;
  padding: 1px;
  border-radius: 50%;
}

.active {
  background-color: transparent;
  opacity: 0%;
}

.inactive {
  background-color: $color--cell-inactive;
}