$color--cell-active: #7EC4CF;
$color--cell-inactive: #F92A82;

.generations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.generation {
  display: flex;
}

.generation > span {
  display: inline-block;
  height: 12px;
  width: 12px;
  padding: 1px;
  border-radius: 50%;
}

.active {
  background-color: $color--cell-active; 
}

.inactive {
  background-color: $color--cell-inactive;
}