/* Footer Element Styles */

$height--footer: 200px;

$unvisited-link-color: green;

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: $height--footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer__social-media {
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.footer__social-item {

}

.footer__social-link {

}

.footer__social-img {
  height: 45px;
}

.mail-icon {
  padding: 5px;
  border: 3.75px solid black;
  border-radius: 50%;
}

.footer__thanks {

  position: absolute;
  bottom: 15px;
  font-family: $font--db;
  font-size: 11px;
  letter-spacing: 0.3px;
  
  & a {
    text-decoration: none;
    color: $unvisited-link-color;
  }

}

.copyright {

}

@media screen and (min-width: 760px) {

  .footer__social-media {
    width: 45%;
  }

  .footer__thanks {
    font-size: 13px;
    letter-spacing: 0.5px;
  }

}