/* Footer Element Styles */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__social-media {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.footer__social-item {

}

.footer__social-link {

}

.footer__social-img {
  height: 45px;
}

.mail-icon {
  padding: 5px;
  border: 3.75px solid black;
  border-radius: 50%;
}

.footer__thanks {

  margin-bottom: 25px;
  
  & a {
    text-decoration: none;
    color: green;
  }

}

.copyright {

}

@media screen and (min-width: 760px) {

  .footer__social-media {
    width: 45%;
  }

}