/* Footer Element Styles */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-media {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.footer__social-item {

}

.footer__social-link {

}

.footer__social-img {
  height: 45px;
}

.footer__bottom {
  
}

.copyright {

}

@media screen and (min-width: 760px) {

  .footer__social-media {
    width: 45%;
  }

}