/* Styles for the FullNav component */

$full-nav-background: rgba(0, 0, 0, 0.02);

$home-link-text: black;
$home-link-background: white;

$nav-link-text: black;
$nav-link-background: white;

.full-nav {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 11vh;
  z-index: 9999;
  background-color: $full-nav-background;
}

.full-nav__home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__link {
    text-decoration: none;
    color: $home-link-text;
    font-size: 3.5vw;
    font-family: $font--db;
    padding: 9px;
    border-radius: 3px;
    transition: 300ms;
}

.home__link:hover {
    background-color: black;
    color: white;
}

.full-nav__links {
    width: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $font--nav-link;
}

.nav__item--maxi {
    text-decoration: none;
    padding: 9px;
    letter-spacing: 0.5vw;
    color: black;
    border-radius: 3px;
    transition: 275ms;
    font-size: 2.8vw;
}

.nav__item--maxi:hover {
    background-color: black;
    color: white;
}

.active-link--maxi {
    border-radius: 0;
    border-bottom: 1px solid black;
}

.active-link--maxi:hover {
    background-color: transparent;
    color: $nav-link-text;
}

@media screen and (min-width: 760px) {
    .home__link {
        font-size: 30px;
    }

    .nav__item--maxi {
        font-size: 26px;
    }
}