// ProjectPreview styles

.project-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
    margin: 5vh 0;
    padding: 6vh 6vw;
    background-color: $white;
    border-radius: 15px;
    // border: 1px solid black;
}

.project-preview__link,
.project-preview__code-link {
    font-size: 7vw;
    color: $black;
    padding: 2vh 5vw;
    text-decoration: none;
    border-radius: 9px;
    transition: 150ms;
    background-color: lighten($dark-blue, 40%);

    &:hover {
      color: $white;
      background-color: $dark-blue;
    }

    > i {
      margin-left: 4vw;
      font-size: 4.8vw;
    }
}

.project-preview__link--active {
  font-size: 7.9vw;
  color: $dark-blue;
}

.project-preview__description {
    line-height: 1.44;
}

.project-preview__description > p {
    margin-top: 5vh;
    font-size: 5.9vw;
    font-family: $font--text;

    &:last-child {
      margin-bottom: 13vh;
    }
}

.project-preview__code-link {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

@media screen and (min-width: 500px) {
  .project-preview {
    width: 80vw;
  }

  .project-preview__description > p {
    font-size: 3.1vw;
  }

  .project-preview__link,
  .project-preview__code-link {
    font-size: 3.5vw;
    padding: 2vh 3vw;

    > i {
      font-size: 3.2vw;
      margin-left: 2vw;
    }
  }
}

@media screen and (min-width: 760px) {
  .project-preview {
    width: 40vw;
    height: 70vh;
    padding: 4vh 5vw;
  }

  .project-preview__description > p {
    margin-top: 0;
    font-size: 1.7vw;

    &:last-child {
      margin-bottom: 8vh;
    }
}

  .project-preview__link,
  .project-preview__code-link {
    font-size: 2.5vw;
    padding: 1vh 2.1vw;
    
    > i {
      font-size: 2.2vw;
      margin-left: 1vw;
    }
  }

}