// ProjectPreview styles

.project-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85vw;
    margin: 2.5vh 0;
    padding: 5%;
    background-color: $white;
    border-radius: 3px;
    // border: 1px solid black;
}

.project-preview__link,
.project-preview__code-link {
    font-size: 7vw;
    color: $black;
    padding: 9px;
    border-radius: 2px;
    transition: 150ms;

    &:hover {
      color: $white;
      background-color: $dark-blue;
    }
}

.project-preview__link--active {
  font-size: 7.9vw;
  color: $dark-blue;
}

.project-preview__description {
    line-height: 1.44;
}

.project-preview__description > p {
    margin: 3vh 0;
    font-size: 5.9vw;

    &:last-child {
      margin-bottom: 55px;
    }
}

.project-preview__code-link {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

@media screen and (min-width: 500px) {
  .project-preview {
    max-width: 365px;
  }

  .project-preview__description > p {
    font-size: 3.1vw;
  }

  .project-preview__link,
  .project-preview__code-link {
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 760px) {
  .project-preview {
    max-width: 35vw;
    padding: 2.5%;
  }

  .project-preview__description > p {
    font-size: 1.9vw;
  }

  .project-preview__link,
  .project-preview__code-link {
    font-size: 2.5vw;
  }

}