// Resume element styles

.resume {
    
}

.resume__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin: 2vh 8vw 4vh;
    border: $gray;
}

.section__category {
    margin-right: 5vw;
    margin-bottom: 3vh;
    font-size: 10vw;
    align-self: flex-end;
    font-family: $font--resume-section-title;
}

.section__gigs {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 6vh 0;
    border-radius: 3px;
}

.gig {
    margin: 2vh;
    background-color: $white;
    padding: 3vmin;
    border-radius: 4px;
}

.gig__title {
    font-size: 22px;
    margin: 2vh 0;
    display: inline-block;
    padding-bottom: 1vh;
    border-bottom: 1px dashed $black;
}

.gig__company {
    font-size: 19px;
    margin: 2vh 0 4vh;
}

.gig__descriptions {
    font-size: 16px;
    list-style-type: none;
}

.gig__description {
    margin: 2vh 0;
    line-height: 1.4;
}

@media screen and (min-width: 450px) {

    .section__category {
        font-size: 3.5vw;
    }

}

@media screen and (min-width: 960px) {

    // .resume {
    //     display: flex;
    //     flex-wrap: wrap;
    //     align-items: flex-start;
    // }

    // .resume__section {
    //     max-width: 350px;
    //     margin: 0 3vw;
    // }

    .resume__section {
        margin: 2vh 4vw 6vh;
    }

    .section__gigs {
        flex-direction: row;
        justify-content: space-around;
    }

    .gig {
        max-width: 350px;
    }
}