/* NavigationBar Element Styles */

@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Quicksand');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container__navbar {
    width: 100%;
    height: 27vh;
    display: flex;
    flex-direction: row;
    background-color: mediumpurple;
}

.navbar__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navbar__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__link {
    text-decoration: none;
}

.navbar__item.navbar__home {
    margin: 15px 0 10px;
}

.navbar__home > .navbar__link {
    font-family: 'Indie Flower', cursive;
    font-size: 9vh;
}

.navbar__pages {
    width: 75%;
    display: flex;
    justify-content: space-around;
}

.navbar__pages .navbar__item {
    margin-bottom: 3vh;
}

.navbar__pages .navbar__link {
    font-family: 'Quicksand', sans-serif;
    font-size: 3.75vh;
}

.navbar__link--active {
    color: white;
}

@media (min-width: 720px) {
    
    .container__navbar {
        width: 100%;
        height: 17vh;
        display: flex;
        background-color: mediumpurple;
    }

    .navbar__items {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar__item.navbar__home {
        margin: 15px 35px;
        min-width: 240px;
    }

    .navbar__home > .navbar__link {
        font-family: 'Indie Flower', cursive;
        font-size: 6vh;
    }

    .navbar__pages {
        width: 35%;
        align-items: center;
    }

    .navbar__pages .navbar__item {
        margin: 0;
    }

    .navbar__pages .navbar__link {
        font-family: 'Quicksand', sans-serif;
        font-size: 3.75vh;
    }

}