/* Footer Element Styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container__footer {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.footer-content {
  min-height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__social-media {
  display: flex;
  width: 60%;
  margin: 8vh 0;
  justify-content: space-around;
  align-items: center;
  border: solid;
}

.footer__social-item {

}

.footer__social-link {

}

.footer__social-img {
  height: 45px;
}

.footer__contact {
  width: 80vw;
}

.footer__bottom {
  
}

.copyright {

}