/* Experience Element Styles */

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience__sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo', sans-serif;
  font-size: 13vw;
  margin: 5vh 0;
}

.experience__skill-chart {
  height: 85vh;
}

.experience__resume {

}

.experience__volunteer {
  
}