/* Home Element Styles */

// Font for my name in the header
@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Architects+Daughter|Indie+Flower');

// Font for the sub heading
@import url('https://fonts.googleapis.com/css?family=Heebo:100');

.home {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.home__background {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
  z-index: -99999;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(black, white);
    opacity: .6; 
  }

}

.home__title {
  background: transparent;
  height: 80%;
}

.home__db {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14vw;
  color: black;
  height: 50vh;
  // font-family: 'Indie Flower', cursive;
  // font-family: 'Architects Daughter', cursive;
  font-family: 'Annie Use Your Telescope', cursive;
}

.home__hustle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  // text-transform: uppercase;
  color: black;
  font-family: 'Heebo', sans-serif;
}

.home__blurb {

}

.home__navigation {

}

@media screen and (min-width: 760px) {
  .container__home {
    // background-image: url(../images/rocket-launch.jpg);
    // background-size: cover;
  }
}