/* Home element styles */

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home__navigation {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
  padding: 3vw 1vw;
}

.home__nav-link {
  color: black;
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-size: 4.5vw;
  letter-spacing: 0.75vw;
}

.home__nav-link:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0%;
  transition: .4s ease-in-out;
}

.home__nav-link:hover:after {
  width: 100%;
  background-color: black;
}

.home__db {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18vw;
  color: black;
  padding: 3vw;
  font-family: 'Annie Use Your Telescope', cursive;
}

.home__hustle {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5vw;
  color: black;
  padding: 1vw 2vw;
  font-family: 'Heebo', sans-serif;
}

@media screen and (min-width: 760px) {

  .home {

  }

  .home__db {
    padding: 1vw;
  }

  .home__hustle {
    font-size: 3.5vw;
  }

  .home__navigation {
    padding: 2vw 1vw;
  }

  .home__nav-link {
    font-size: 2.5vw;
    letter-spacing: 0.15vw;
  }

}