/* Projects Element Styles */

.projects {

}

.project {

}

.projects__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  width: 85%;
}

@media screen and (min-width: 760px) {



}