/* Projects Element Styles */

.projects {

}

.projects__blurb {

}

.project {

}

.projects__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  width: 85%;
  border: 1px solid blue;
}

.project-preview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 275px;
    margin: 2.5vh 0;
    padding: 5%;
    border: solid;
}

.project-preview__link {
  text-decoration: none;
  font-size: 18px;
  color: blue;
}

.project-preview__link--active {
  font-size: 25px;
}

.project-preview__description {
    // line-height: 1.34;
}

.project-preview__description > p {
    margin: 3vh 0;
}

@media screen and (min-width: 760px) {
  .project-preview {
    max-width: 32vw;
  }
}