// Shame styles

$color--inline-link: $red;
$color--inline-link-hovered: $dark-red;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.page__header {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.page__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font--page-title;
    font-size: 11vw;
    letter-spacing: 2px;
    padding-bottom: 4vh;
}

.page__sub-header {
  display: flex;
  align-self: flex-start;
  align-items: center;
  font-family: $font--page-sub-header;
  font-size: 13vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  color: $black;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.inline-link {
    text-decoration: none;
    color: $color--inline-link;
    transition: 150ms;
}

.inline-link:hover {
    color: $color--inline-link-hovered;
}

@media screen and (min-width: 451px) {
  
  .page__header {
    display: none;
  }

  .page__sub-header {
    font-size: 7vw;
  }

}