/* NavigationBar Element Styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container__navbar {
    box-sizing: border-box;
    width: 100vw;
    height: 15vh;
    min-height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: mediumpurple;
}

.navbar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height:70%;
    background-color: paleturquoise
}

.navbar__link {
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
}

.navbar__link--active {

}

@media (max-width: 560px) {
    .navbar__item {
        display: none;
    }
}