/* Experience Styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container__experience {
    display: flex;
    flex-direction: column;
}

.experience__section {
    
}

.experience__category {

}

.experience__gigs {
    
}

.gig {

}

.gig__title {

}

.gig__company {

}

.gig__descriptions {

}

.gig__description {

}