/* Website Styles */

$crimsonSky: #CF6766;
$indigo: #30415D;
$ultramarine: #031424;
$lightBlue: #8EAEBD;

// Main Styles

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  // background-color: #16A085;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 5px solid red;
}