/* Footer Element Styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  height: 145px;
  display: flex;
  flex-direction: column;
  border: solid;
  background-color: red;
}

.footer__social-media {
  display: flex;
  width: 65%;
  justify-content: space-around;
  align-items: center;
  border: solid;
}

.footer__social-item {

}

.footer__social-link {

}

.footer__social-img {
  height: 45px;
}

.footer__bottom {
  
}

.copyright {

}