/* Styles for the Header component */


*,
*:before,
*:after {
  box-sizing: border-box;
}

.container__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 105px;
    z-index: 9997;
}