/* Root Element Styles */

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container__root {
  position: relative;
  width: 100vw;
  min-height: 100vh;
}

.root__content:after {
  content: '';
  display: block;
  height: 145px;
}