// Home page nav and hustle font and full page nav font
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

// Font for my name in the header
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

// Page headers
@import url('https://fonts.googleapis.com/css?family=NTR|Nunito|Press+Start+2P|Rajdhani');

// Page text
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

// Font variables
$font--nav-link: 'Fjalla One', sans-serif;
$font--home-hustle: 'Fjalla One', sans-serif;
$font--db: 'Architects Daughter', cursive;

// $font--page-title: 'Rajdhani', sans-serif;
// $font--page-title: 'NTR', sans-serif;
$font--page-title: 'Nunito', sans-serif;