/* Footer Element Styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container__footer-content {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightcoral;
}

.footer__social-media {
  height: 75%;
  display: flex;
  flex-direction: column;
  width: 20vw;
  justify-content: space-around;
  align-items: center;
}

.footer__social-item {

}

.footer__social-link {

}

.footer__social-img {
  height: 45px;
}

.container__post-footer {
  
}